.animate__fadeIn {
  animation-name: fadeIn;
  animation-duration: 5s;
  animation-timeline: view();
  animation-range-start: 5%;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-range-end: 70%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
